<ion-view view-title="Account">
  <ion-content class="padding" has-bouncing="false">
    <h4 class="center">Change password</h4>
    <div class="divide10"></div>
    <div class="row">
        <p>Logged-in as: <strong>{{password.username}}</strong></p>
    </div>
    
    <div class="list">
        <label class="item-input item-floating-label" >
            <span class="input-label">Current Password</span>
            <input ng-model="password.current" type="password" placeholder="Current Password" class="log-form">
        </label>
        <label class="item-input item-floating-label">
            <span class="input-label">New Password</span>
            <input ng-model="password.new" type="password" placeholder="New Password" class="log-form">
        </label>
        <label class="item-input item-floating-label">
            <span class="input-label">Re enter new password</span>
            <input ng-model="password.new2" type="password" placeholder="Re enter new password" class="log-form">
        </label>
        <button class="button button-full button-theme-blue-dark activated" ng-click="changePassword(password)">Submit</button>
    </div>
  </ion-content>
</ion-view>