<ion-view view-title="Questionnaire">
  <ion-header-bar class="bar bar-header bar-theme-blue-dark">
        <button class="button back-button buttons button-clear" ng-class="{hide : showBackButton == false}" ng-click="backFranchise()">
          <i class="icon ion-ios7-arrow-back"></i>
         Back
        </button>
        <h1 class="title">Questions</h1>
  </ion-header-bar>
  <ion-content class="padding" has-bouncing="false">
        <h4 class="center">Please answer the following questions:</h4>
          <div ng-repeat="question in questions">
            <h4 style="margin-top:25px !important;">{{question.id}} - {{question.text}}</h4>
            
            <!-- Begin Tipo Range -->
            <div class="row" ng-show="question.type == 'range'">
              <div class="col col-50">
                <p class="medidor">{{question.options[0]}}</p>
              </div>
              <div class="col col-50">
                <p class="medidor right">{{question.options[1]}}</p>
              </div>
            </div>

            <div class="range range-theme-green-light" ng-show="question.type == 'range'" >
              <input ng-model="Answers[question.id]" type="range" name="volume" min="1" max="10">
            </div>
            <p class="center bold" ng-show="question.type == 'range'" > {{Answers[question.id]}}</p>

            <!-- End Tipo Range -->

            <div ng-show="question.type == 'select'">
              <div class="list">
              <select ng-model="Answers[question.id]" class="item item-select" ng-options="opt as opt for opt in question.options">
              </select>
              </div>
            </div>
          </div>
          
      <div class="row">
        <div class="col col-100">
          <button class="button button-block button-theme-blue-dark" ng-click="checkAnswer()">Submit</button>
        </div>
      </div>  
  </ion-content>
</ion-view>
