<ion-view view-title="International Franchises">
  <ion-content class="padding" has-bouncing="false">
  	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search" ng-model="interFranchise.search" ng-change="getFranchisesByName(interFranchise, 'inter')">
	  </label>
		<label class="item item-input item-select">
		    <div class="input-label">
		      Country
		    </div>
            <select name="Country" ng-model="interFranchise.pais" ng-change="getFranchisesByName(interFranchise, 'inter')">
		        <option ng-repeat="country in countries" value="{{country.country}}">{{country.country}}</option>
		    </select>
		    
		</label>
	</div>
  	<div class="row hide" ng-class="{show: franquiciasInter.length == 0}">
        <div class="col col-80 col-offset-10">
        	<div class="divide10"></div>
            <p class="center"> No international franchises found.</p>
        </div>
    </div>
    <div class="card hide" ng-repeat="franq in franquiciasInter" ng-class="{show: franquiciasInter.length > 0}">
	  <div class="item item-divider header-card">
	    {{ franq.name | limitTo:27 }}
	  </div>
	  <div class="item item-text-wrap" style="padding:0px;">
	    <div class="row">
			<div class="col">
			  	<p class="justify">{{franq.description}}</p>
			</div>
	    </div>
	    <div class="row box">
	    	<div class="col center box-divider" >
	    		<a ng-click="openVideo(franq.link_youtube)">
				  	<!--i class="icon ion-social-youtube icon-1x" ></i-->
				  	<img class="imgs-icons youtube">
				  	<p class="features">Watch Video</p>
			  	</a>
			</div>

			<div class="col center box-divider">
				<a ng-click="calc(franq)">
				  	<!--i class="icon ion-calculator icon-1x" ></i-->
				  	<img class="imgs-icons calculate">
				  	<p class="features">Calculate Match</p>
			  	</a>
			</div>

			<div class="col center" >
				<a ng-click="showContact(franq.id, franq)">
				  	<!--i class="icon ion-android-contacts icon-1x"></i-->
				  	<img class="imgs-icons contact">
				  	<p class="features">Franchisor Info</p>
			  	</a>
			</div>
	    </div>
	  </div>
	</div>
  </ion-content>
</ion-view>