
/* Empty. Add your own CSS if you like */
.scroll-content{
	background-color: #FFF;
}

.bar.bar-theme-blue-dark {
  border-color: #336699;
  background-color: #336699;
  background-image: linear-gradient(0deg, #336699, #336699 50%, transparent 50%);
  color: #fff;
}

.bar-theme-blue-dark h1, .bar-theme-blue-dark button{
	color: #fff !important;	
}

.button.button-theme-green-light {
  border-color: #99cc33;
  background-color: #99cc33;
  color: #fff;
  text-transform: uppercase;
}

.button.button-theme-blue-dark {
  border-color: #336699;
  background-color: #336699;
  color: #fff;
  text-transform: uppercase;
}

.publicity{
	background-image: url("../img/hclub1.jpg");
	background-size: cover;
	background-position: top center;
}

.backgroud-publi{
	background-color: #FFF !important;
	opacity: 0.7;
}

.backgroud-publi h5{
	color: #000000 !important;
}

.div-logo{
	text-align:center;
}
.main-logo{
	width: 50%;
	content:url("../img/logo2.png");
}

.franchise-logo{
	width: 100%;
	content:url("../img/LOGO_app.jpg");
}

.sarma{
	width: 50%;
	content:url("../img/sarmapicture.jpg");
}

.login-logo{
	margin-bottom: 20px;
}

.button-block{
	margin: 0px !important;
}

.icon-fb{
	color:#3B5998;
}

.icon-tw{
	color:#33CCFF;
}

.icon-linkedin{
	color:#4875B4;
}

.icon-g-plus{
	color:#C63D2D;
}

.facebook{
	background-color:#3B5998;
	border-color: #3B5998;
	color: white;
}

.facebook:hover{
	color:#fafafa !important;
}

.facebook.activated{
	background-color: #355089 !important;
}

/* clases textos */
.center{
	text-align: center;
	color: #333333;
	margin-left: 5px;
	margin-right: 5px;
}

.justify{
	text-align: justify;
}

.log-form{
	border-bottom: 1px solid #a3a3a3 !important;
	padding: 20px 10px !important;
	min-height: 47px;

}

.item-floating-label span{

	font-size: 13px;
	width: 75%;
	color: #336699 !important;
}
.col-100 p{
	color: #333333;
	text-align: justify;
}

.input-label{
	color: #333333 !important;
}

.item-select{
	background: #EBEBEB;
	width: 100%;
	height: 50px;
}

.medidor {
	font-style: italic;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	color: #336699;
}

.medidor.left{
	width: 40%;
	margin-left: 5px;
}

.medidor.right{
	margin-right: 5px;
	text-align: right;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
	color:#333333;
}
input[type="range"] {
display: inline-block;
overflow: hidden;
margin-top: 5px;
margin-bottom: 5px;
padding-right: 2px;
padding-left: 1px;
width: auto;
/*height: 35px;/
min-height: 35px;
outline: none;
/background: linear-gradient(to right, #cccccc 0%, #cccccc 100%);*/
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99CC33), color-stop(100%, #99CC33));
background-position: center;
background-size: 99% 4px;
background-repeat: no-repeat;
-webkit-appearance: none; 
}

.icon-1x{
	font-size: 24px;
}

.icon-2x{
	font-size: 36px;
}

.icon-3x{
	font-size: 100px;
}

.features{
	font-size: 11px !important;
	text-transform: uppercase;
	line-height: 16px;
	margin-top: 5px;
}

.margin0{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.divide10{
	padding: 10px;
}

.divide20{
	padding: 20px;
}

.divide40{
	padding: 40px;
}

.bold{
	font-weight: 600;
}

.range.range-theme-green-light input::-webkit-slider-thumb:before {
    background: #99CC33; 
}
.card{
	box-shadow: none !important;
} 

.header-card{
	background-color: #336699;
	color: #FFF;
}

.box{
	border: 1px solid #a3a3a3;
	padding-bottom: 0px;
	margin-top: 10px !important;
	border-radius: 2px;
}

.box .col{
	padding-top: 10px !important;
}
			
.box-divider{
	border-right: 1px solid #a3a3a3;	
}

a{
	text-decoration: none;
	color: #333;
}

.red{
	color: red;
}

.green{
	color: green;
}

.orange{
	color: #FF8C00;
}

.match-result{
	font-size: 4.5em;
	font-weight: 500;
	margin-top: 29%;
	text-align: center;
}

.extreme{
	font-size: 4.1em;
	font-weight: 100;
}

.icon-blue{
	color: #FDFDFD;
}

.item-complex .item-content, .item-radio .item-content {
  background-color: #898888;
  color: #FFF;
  font-weight: 500;
}

.item-complex .item-content, .item-radio .item-content i{
  color: #FFF;

}

.item{
	border-color: #CCC !important;
}

.hide{
	display: none;
}

.show{
	display: block !important;
}
.imgs-icons{
	width: 54%;	
}

.real-time{
	content:url("../img/icons/real-icon.png");
}

.update{
	content:url("../img/icons/update-icon.png");
}

.email{
	content:url("../img/icons/email-icon.png");
}
.youtube{
	content:url("../img/icons/video_icon.png");
}
.contact{
	content:url("../img/icons/contact-icon.png");
}
.calculate{
	content:url("../img/icons/calculate-icon.png");
}
.img-logo-franchise{
	height: 90px;
}

.caption{
	margin-top: 12px;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Screens iPad retina*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    
	.features{
		font-size: 12px !important;
	}

	.main-logo{
		width: 30%;
		content:url("../img/logo2.png");
	}

	.franchise-logo{
		width: 70%;
	}

	.imgs-icons{
		width: 40%;	
	}

	.match-result{
		font-size: 6.5em;
		margin-top: 15%;
	}

	.icon-3x{
		font-size: 140px;
	}


}
/* Screen iPad landscape*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    
    .features{
		font-size: 12px !important;
	}
	.main-logo{
		width: 30%;
		content:url("../img/logo2.png");
	}

	.franchise-logo{
		width: 70%;
	}

	.imgs-icons{
		width: 32%;	
	}

	.match-result{
		font-size: 6.5em;
		margin-top: 12%;
	}

	.icon-3x{
		font-size: 140px;
	}



    

}
/* Screens iPhone 2G-4S */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

    
}

/* Screens iPhone 5S*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

    
}

/* Screens iPhone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	.features{
		font-size: 12px !important;
	}
    
}

/* Screens iPhone 6 Plus*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
	
	.features{
		font-size: 12px !important;
	}
  

}

/* Nexus 5 */
@media screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 3){

	.features{
		font-size: 12px !important;
	}

   
}
/* Nexus 7 */
@media screen 
    and (max-device-width: 601px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (device-aspect-ratio: 25/38){

    	.features{
		font-size: 12px !important;
	}

    

}
