<ion-view view-title="Contact">
	<ion-nav-bar class="bar-theme-blue-dark">
	  <ion-nav-back-button class="button-clear"
	    ng-click="goBackHome(franquicia.type)">
	    <i class="ion-ios7-arrow-back"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>

  <ion-content class="padding" has-bouncing="false">
  <img class="img-logo-franchise" ng-src="{{franquicia.url_logo}}" src="{{franquicia.url_logo}}">

  <div class="card margin0">
    <!--div class="item item-divider header-card">
      {{franquicia.name}}
    </div-->
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Name of Franchise</h2>
          <p>{{franquicia.name}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Headquarters</h2>
          <p>{{franquicia.address}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap hide" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Type Franchise</h2>
          <p ng-show="franquicia.type == 1">International</p>
          <p ng-show="franquicia.type == 2">US &amp; Canada</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Product or service type</h2>
          <p class="justify"> {{franquicia.type_business}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Number of Franchises</h2>
          <p class="justify">{{franquicia.no_franchises}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Franchise Fee</h2>
          <p class="justify">{{franquicia.franchise_cost}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Been franchising since</h2>
          <p class="justify">{{franquicia.history}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" ng-hide="franquicia.type == 2" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Country</h2>
          <p>{{franquicia.country}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap hide" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Web site</h2>
          <a ng-click="openURL(franquicia.url)">{{franquicia.url}}</a>
        </div>
      </div>
    </div>
    
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Total Investment Required</h2>
          <p class="justify">{{franquicia.cash_investment}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Monthly Royalty amount</h2>
          <p class="justify">{{franquicia.training}}</p>
        </div>
      </div>
    </div>
    <div class="item item-text-wrap" style="padding:0px;">
      <div class="row">
        <div class="col">
          <h2>Monthly Advertising fee</h2>
          <p class="justify">{{franquicia.qualifications}}</p>
        </div>
      </div>
    </div>
    <div class="divide20"></div>
    <div class="row">
      <div class="col center" ng-hide="franquicia.url_twitter.length == 0" ng-click="openURL(franquicia.url_twitter)">
        <i class="icon ion-social-twitter icon-2x icon-tw"></i>
      </div>
      <div class="col center" ng-hide="franquicia.url_facebook.length == 0" ng-click="openURL(franquicia.url_facebook)">
        <i class="icon ion-social-facebook icon-2x icon-fb"></i>
      </div>
      <div class="col center" ng-hide="franquicia.url_linkedin.length == 0" ng-click="openURL(franquicia.url_linkedin)">
        <i class="icon ion-social-linkedin icon-2x icon-linkedin"></i>
      </div>
      <div class="col center" ng-hide="franquicia.url_google_plus.length == 0" ng-click="openURL(franquicia.url_google_plus)">
        <i class="icon ion-social-googleplus icon-2x icon-g-plus"></i>
      </div>
    </div>
  </div>
  <div class="divide10"></div>

  <div class="row">
      <div class="col">
          <button class="button button-full button-theme-blue-dark activated" ng-click="showContactFranchistor()">Contact Franchisor</button>
      </div>
  </div>
  </ion-content>
</ion-view>