<ion-view view-title="Contact Franchisor">
	<ion-nav-bar class="bar-theme-blue-dark">
	  <ion-nav-back-button class="button-clear"
	    ng-click="backHome()">
	    <i class="ion-ios7-arrow-back"></i> Home
	  </ion-nav-back-button>
	</ion-nav-bar>

  <ion-content class="padding" has-bouncing="false">
  
  <div class="divide10"></div>
  <h4 class="center">Would you like:</h4>
  <div class="row">
    <p>- Submit complete qualification report</p>
    
  </div>
  <div class="row">
      <div class="col col-50 col-offset-25">
          <button class="button button-full button-theme-blue-dark activated" ng-click="openURL('https://corecurriculum.wufoo.com/forms/franchise-qualification-report/')">Click here</button>
      </div>
  </div>

  <div class="row">
    <p>- Contact me so I can learn more about your franchise</p>
  </div>
  <div class="list">
      <label class="item-input item-floating-label" >
          <span class="input-label">Name</span>
          <input ng-model="contact.name" type="text" placeholder="Name" class="log-form">
      </label>
      <label class="item-input item-floating-label">
          <span class="input-label">Phone Number</span>
          <input ng-model="contact.phone" type="text" placeholder="Phone Number" class="log-form">
      </label>
      <label class="item-input item-floating-label">
          <span class="input-label">Email Address</span>
          <input ng-model="contact.email" type="email" placeholder="Email Address" class="log-form">
      </label>
      <p class="caption">I’m interested in learning more about this franchise</p>
      <button class="button button-full button-theme-blue-dark activated" ng-click="sendEmail(contact,franquicia.name)">Submit</button>
  </div>

  </ion-content>
</ion-view>