<ion-view view-title="Differences">
	<ion-nav-bar class="bar-theme-blue-dark">
	  <ion-nav-back-button class="button-clear"
	    ng-click="goBackMatch(match)">
	    <i class="ion-ios7-arrow-back"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>

  <ion-content class="padding" has-bouncing="false">
		<div class="row">
			<div class="col col-50 col-center">
				<div><h4 class="center">Question</h4></div>
			</div>
			<div class="col col-center">
				<div class="center"><h4>Ideal</h4></div>
			</div>
			<div class="col col-center">
				<div class="center"><h4>Your response</h4></div>
			</div>
		</div>

		<div class="row">
			<div class="col col-50" >
				<div>{{questions[0].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[1]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp1}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[1].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[2]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp2}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[2].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[3]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp3}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[3].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[4]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp4}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[4].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[5]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp5}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[5].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[6]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp6}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[6].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[7]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp7}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[7].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[8]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp8}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div>{{questions[8].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[9]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp9}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50" >
				<div >{{questions[9].text}}</div>
			</div>
			<div class="col">
				<div class="center">{{answerFranchise[10]}}</div>
			</div>

			<div class="col">
				<div class="center">{{preferencias[0].resp10}}</div>
			</div>
		</div>
  </ion-content>
</ion-view>