<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-theme-blue-dark">
        <h1 class="title">Forgot Password</h1>
        <button class="button button-clear button-primary" ng-click="closeModal('forgot')">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding" has-bouncing="false">
        <div class="row">
            <div class="col">
                <p class="justify">Please enter your email address and we will send you a temporary password. Sometime later, you can change your temporary password after log-in to our app.</p>
            </div>
        </div>
        <div class="padding">
            <label class="item-input item-floating-label" >
                <span class="input-label">Email</span>
                <input class="log-form" ng-model="user.correo" type="text" placeholder="Email" >
            </label>

            <div class="row">
                <div class="col col-50 col-offset-25">
                    <button class="button button-block button-theme-blue-dark activated" style="margin-top: 10px !important;" ng-click="forgotPassword(user)">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>