<ion-view view-title="Home">
  <ion-content class="padding" has-bouncing="false">
  		<div class="divide10"></div>
       	<div class="div-logo">
          <img class="franchise-logo">
        </div>
        <div class="divide10"></div>
        <div class="row">
          <div class="col">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/xQpKVpxhXX0" frameborder="0" width="560" height="315"></iframe>
            </div>
          </div>
        </div>
  </ion-content>
</ion-view>