<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-theme-blue-dark">
        <h1 class="title">Log In</h1>
        <button class="button button-clear button-primary" ng-click="closeModal('login')">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding" has-bouncing="false">
        <!--div class="div-logo login-logo">
          <img class="main-logo">
        </div-->

        <div class="padding">
            <label class="item-input item-floating-label" >
                <span class="input-label">Email</span>
                <input class="log-form" ng-model="user.correo" type="email" placeholder="Email" required>
            </label>
            <label class="item-input item-floating-label" >
                <span class="input-label">Password</span>
                
                <input class="log-form" ng-model="user.password" type="password" placeholder="Password">
            </label>
            <div class="row">
                <div class="col col-50 col-offset-25">
                    <button class="button button-block button-theme-blue-dark activated" style="margin-top: 10px !important;" ng-click="logIn(user)">
                        Sign In
                    </button>
                </div>
            </div>
        </div>
        <p class="center" ng-click="modalForgotPassword()">Forgot your password</p>

    </ion-content>
</ion-modal-view>