<ion-view view-title="Logout">
  <ion-content class="padding" has-bouncing="false">
    <div class="divide10"></div>
    <div class="row">
        <div class="col">
            <p class="justify">Thank you for using our Hot Franchise Compatibility APP. We invite you use our APP for future matches and to introduce our APP to others that may deciding to purchase a franchise.</p>
        </div>
    </div>
    <div class="row">
	    <div class="col col-50 col-offset-25">
	      <button class="button button-block button-theme-blue-dark" ng-click="logout()">Log out</button>
	    </div>
	</div>
  </ion-content>
</ion-view>