<ion-view view-title="My Matches">
  <ion-content class="padding" has-bouncing="false">
  <div class="divide10"></div>
  <div class="row" ng-show="matchs.length == 0">
        <div class="col col-80 col-offset-10">
        	<div class="divide10"></div>
            <p class="center"> No records found.</p>
        </div>
    </div>

    <div class="list">
	    <div class="item" ng-repeat="match in matchs">
	    	<a href="#/app/matchs/{{match.id}}" ng-click="createTemporalMatch(match)" style="text-decoration: none; display:block;">
			    {{match.name}}
			    <span class="item-note">
			      {{match.result}}%
			    </span>
			 </a>
	    </div>
	</div>

  </ion-content>
</ion-view>