<ion-view view-title="Match">
  <ion-content class="padding" has-bouncing="false">
  	<div class="hide" ng-class="{show : showMath == true}">
		<h3 class="center">{{temporalMatch.name}}</h3>
		    <p class="center" ng-show="temporalMatch.result < 60">This Franchise may NOT be for you <br>
		    	<span class="red">Your compatibility index is:</span>
		    </p>
		    <p class="center" ng-show="temporalMatch.result >= 60">This Franchise may be for you <br>
		    	<span ng-class="{green: temporalMatch.result >= 80, 'orange': temporalMatch.result >= 60 && temporalMatch.result <= 79 }">Your compatibility index is:</span>
		    </p>
		  <div class="divide20"></div>

		<div class="row">
			<div class="col col-70">
				<div ng-class="{green: temporalMatch.result >= 80, 'orange': temporalMatch.result >= 60 && temporalMatch.result <= 79, 'red': temporalMatch.result < 60, 'extreme': temporalMatch.result == 100 }" class="match-result">{{temporalMatch.result}}%</div>
			</div>
			<div class="col">
				<i class="icon ion-arrow-graph-up-right icon-3x green" style="margin-left: 25px;" ng-show="temporalMatch.result >= 80"></i>
				<i class="icon ion-arrow-graph-up-right icon-3x orange" style="margin-left: 25px;" ng-show="temporalMatch.result >= 60 && temporalMatch.result <= 79"></i>
				<i class="icon ion-arrow-graph-down-right icon-3x red" style="margin-left: 25px;" ng-show="temporalMatch.result < 60"></i>
			</div>
		</div>
		<div class="divide20"></div>

		<div class="row">
	        <div class="col" ng-show="temporalMatch.result == 0" >
	            <button class="button button-block button-theme-blue-dark activated" style="margin-top: 10px !important;" ng-click="showDifferences(temporalMatch)">
	                See differences
	            </button>
	        </div>
	        <div class="col" ng-show="temporalMatch.result >= 0" >
	            <button class="button button-block button-theme-blue-dark activated" style="margin-top: 10px !important;" ng-click="showContactFranchistor()">
	                Contact Franchisor
	            </button>
	        </div>
		</div>
	</div>
  </ion-content>
</ion-view>