
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-theme-blue-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar bar-header bar-theme-blue-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content style="background: #898888;">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
          <i class="icon ion-home icon-blue"></i>
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/usfranchises">
          <i class="icon ion-ios7-people icon-blue"></i>
          US & Canada Franchises
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/international">
          <i class="icon ion-ios7-people icon-blue"></i>
          International Franchises
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/matchs">
          <i class="icon ion-stats-bars icon-blue"></i>
          My Matches
        </ion-item>
        <ion-item nav-clear menu-close ng-click="goInterview()" href="#" >
          <i class="icon ion-help icon-blue"></i>
          My Compatibility Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/news">
          <i class="icon ion-archive icon-blue"></i>
          News
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/account">
          <i class="icon ion-person icon-blue"></i>
          Account
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/logout">
          <i class="icon ion-log-out icon-blue"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>