<ion-view view-title="privacy">
  <ion-header-bar class="bar bar-header bar-theme-blue-dark">
        <h1 class="title">Privacy & Terms</h1>
  </ion-header-bar>
  <ion-content class="padding" has-bouncing="false">
      <div class="div-logo">
        <img class="main-logo">
      </div>
        <h3 class="center">Welcome:</h3>
        <div class="row">
        <div class="col col-100">
          <p>The Compatibility Calculator is meant only to help potential franchisees identify which franchise operation may be good for their personality. It does not guarantee success as there are other important requirements of the franchisor that must be identified by the franchisee. This includes the information listed in the franchisor's FDD. The score you will receive will be one that is customized against the ideal score of the franchisor. This will be in a percentage form. </p>
        </div>
      </div>  
      <div class="divide10"></div>  
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button class="button button-block button-theme-blue-dark" ng-click="agreeTerms()">Agree</button>
        </div>
      </div>  
  </ion-content>
</ion-view>
