<ion-view view-title="index" animation="slide-left-right">
    <ion-content class="padding" has-bouncing="false">
      <div class="divide10"></div>
       <div class="div-logo">
          <img class="franchise-logo">
        </div>
        <div class="row">
          <div class="col">
            <p class="justify">
              Welcome to Franchise Innovator's "Hot Franchise" Compatibility APP.  Franchisors in the United States and Internationally have provided a short video of their franchise offering for you to view. They have also provided us a profile of the personality traits of their ideal franchisee. To see if their franchise is "right" for you, please sign in and provide your own profile. Once you have, you can match yourself against any franchise you might consider and save your better matches for the future. At your invitation we can also forward your e-mail request or even a qualification report to franchisors that you choose. This is all a FREE service to you in your personal search for the best franchise investment that you might make.<br> 
              Good luck on your search! 
            </p>
            <p>Sarma Taylor, CEO </p>
            <p>Franchise Innovators International, LLC</p>

          </div>
        </div>
        <!--div class="row">
          <div class="col col-80 col-offset-10">
            <p class="center">
              Create an account to get the most out of our app:
            </p>
          </div>
        </div>
          <div class="divide10"></div>
          <div class="row">
            <div class="col center">
              <img class="imgs-icons real-time">
              <br>
              <p class="features">REAL TIME MATCH</p>
            </div>
            <div class="col center">
              <img class="imgs-icons update">
              <br>
              <p class="features">REGULAR UPDATES</p>
            </div>
            <div class="col center">
              <img class="imgs-icons email">
              <br>
              <p class="features">EMAIL ALERTS</p>
            </div>
          </div-->
          
        <!--div class="row">
          <div class="col col-100">
            <button class="button button-block icon-left ion-social-facebook facebook">Login In with Facebook</button>
          </div>
        </div-->
        <div class="divide20"></div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-block button-theme-blue-dark" ng-click="openModal('login')">Sign In</button>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <button class="button button-block button-theme-green-light" ng-click="openModal('signup')">Create Account</button>
          </div>
        </div>  
    </ion-content>
</ion-view>