<ion-view view-title="News">
  <ion-content class="padding" has-bouncing="false">
  	<div class="row hide" ng-class="{show: news.length == 0}">
        <div class="col col-80 col-offset-10">
        	<div class="divide10"></div>
            <p class="center"> No news found.</p>
        </div>
    </div>
    <div class="card hide" ng-repeat="new in news" ng-class="{show: news.length > 0}">
	  <!--div class="item item-divider header-card"-->
	    <h3>{{ new.title }}</h3>
	    <button class="button button-small button-full button-theme-green-light activated" ng-click="openURL(new.url)" ng-show="new.url.length > 0">Watch Video</button>
	  <!--/div-->
	  <div class="item item-text-wrap" style="padding:0px;">
	    <div class="row">
			<div class="col">
			  	<p class="justify">{{new.body}}</p>
			</div>
	    </div>
	  </div>
	</div>
  </ion-content>
</ion-view>