<ion-view view-title="Welcome Screen">
    <ion-content class="padding publicity"  has-bouncing="false">
      <div class="clearfix"></div>
    </ion-content>
    <div style="position: absolute; bottom: 70px; width: 100%">
        <div class="row">
          <div class="col col-100 backgroud-publi">
            <h5>Get a percentage number that can determine if your franchise choice is your best investment.</h5>
          </div>
        </div>
        <div class="divide10"></div>
        <div class="row">
          <div class="col col-50 col-offset-25">
            <button class="button button-block button-theme-blue-dark" ng-click="next()">Next</button>
          </div>
        </div> 
    </div>
</ion-view>