<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-theme-blue-dark">
        <h1 class="title">Create Account</h1>
        <button class="button button-clear button-primary" ng-click="closeModal('signup')">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding" has-bouncing="false">
        <!--div class="div-logo">
          <img class="main-logo">
        </div-->
        <div class="list">
            <label class="item-input item-floating-label" >
                <span class="input-label">First Name</span>
                <input ng-model="user.firstname" type="text" placeholder="First Name" class="log-form">
            </label>
            <label class="item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input ng-model="user.lastname" type="text" placeholder="Last Name" class="log-form">
            </label>
            <label class="item-input item-floating-label">
                <span class="input-label">Email Address</span>
                <input ng-model="user.correo" type="email" placeholder="Email Address" class="log-form">
            </label>
            <label class="item-input item-floating-label">
                <span class="input-label">Password</span>
                <input ng-model="user.password" type="password" placeholder="Password" class="log-form">
            </label>
            <button class="button button-full button-theme-green-light activated" ng-click="createUser()">Create</button>
        </div>
    </ion-content>
</ion-modal-view>